.container-footer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  background-color: #ef5350;

  a:hover {
    transform: scale(1.1);
    text-decoration: underline;
    cursor: pointer;
  }

  a, p {
    font-size: 14px;
  }
}

@media (min-width: 650px) {
  .container-footer {
      justify-content: space-around;
    a, p {
      font-size: 16px;
    }
  }
}
