.container-footer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #EF5350;
}

.repository {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;

  img {
    width: 30px;
    transition: transform 0.2s ease-in-out;
  }

  img:hover {
    transform: scale(1.1);
  }
}
